
@font-face {
  font-family: 'KhmerOSKienSvay';
  src: url('KhmerOSKienSvay.eot?#iefix') format('embedded-opentype'),  url('KhmerOSKienSvay.woff') format('woff'), url('KhmerOSKienSvay.ttf')  format('truetype'), url('KhmerOSKienSvay.svg#KhmerOSKienSvay') format('svg');
  font-weight: normal;
  font-style: normal;
}
